 body {
    background-color: grey;
 }
 
.center-wrapper {
    text-align: center;
}

 h1 {
    padding: 10px 20px;
    background: black;
    display: inline-block;
    border-radius: 7px;  
    border: 2px solid red;
    color: white;
    font-size: 24px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
 }

 h1:hover{
    background-color: green;
    color: blue;
 }
