 * {
   box-sizing: border-box;
 }
 
 
 body {
    background-color: grey;
 }
 
.center-wrapper {
    text-align: center;
}

 h1 {
    padding: 10px 20px;
    background: black;
    display: inline-block;
    border-radius: 7px;  
    border: 2px solid red;
    color: white;
    font-size: 24px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
 }

 h1:hover{
    background-color: green;
    color: blue;
 }

 .head2 {
   font-size: 50px;
   font-weight: 900;
   border: 12px solid violet;
   width: 300px;
   height: 70px;
 }

.sub {
   color: red;
   font-weight: bold;
   margin: 20px;
}

.sub-menu2 {
   color: green;
}

.sub-menu3 {
   font-size: 32px;
}

.reg {
   background-color: green;
   padding: 10px 20px;
   border: 5px solid black;
   border-radius: 4px;
   margin: 10px 20px;
}

.brd {
   width: 100px;
   height: 100px;
   background-color: violet;
   border-radius: 50px;
   border-style: double solid;
   border-color: green;
   margin: 30px;
}


.ima {
   width: 500px;
   height: 500px;
   padding: 10px;
   border: 10px solid black;
   border-radius: 250px;
}